@using ExpensesApp.Shared.Models.DTOs

@if (Operation != null) {
    var rowCollapseId = $"{TableId}-row-{RowIndex}-desc";
    
    <tr class="align-middle" data-bs-toggle="collapse" role="button" href="#@rowCollapseId" aria-expanded="false" aria-controls="collapseExample">
        <td>@Operation.OperationDate.ToString("d")</td>
        <td>@Operation.TransactionDate.ToString("d")</td>
        <td>@Operation.TransactionType</td>
        <td>@Operation.Amount</td>
        <td>@Operation.Currency</td>
        <td>@Operation.AfterOperationBalance</td>
    </tr>
    <tr>
        <td colspan="8" class="p-0">
            <div class="collapse px-2" id="@rowCollapseId">
                <div class="py-2">
                    <div class="fw-bold">Description</div>
                    <pre class="m-0">@Operation.Description</pre>
                </div>
            </div>
        </td>
    </tr>
}


@code {
    [Parameter]
    public OperationDto Operation { get; set; }
    
    [Parameter]
    public string TableId { get; set; }
    
    [Parameter]
    public int RowIndex { get; set; }
}
