@page "/accounting-periods/{IdPeriod:int}/summary"
@using ExpensesApp.Shared.Models.DTOs
@using ExpensesApp.Client.HttpUtils
@using ExpensesApp.Shared.Constants
@using AntDesign

@inject PublicHttpClient httpClient


<div class="container-md">
    <h3>Accounting Period Summary</h3>

    @if (summary != null) {
        <Table DataSource="summary.Rows" Bordered Size="TableSize.Middle" PageSize="200">
            <RowTemplate>
                <Column TData="string" DataIndex="Type.Type"
                        Title="Type"
                        Filterable Sortable
                        Width="200" 
                />

                <Column TData="string" DataIndex="Owner.Owner" 
                        Title="Owner"
                        Filterable Sortable
                        Width="200"
                />

                <Column @bind-Field="@(context.Sum)" 
                        Title="Sum" 
                        Filterable Sortable
                />
            </RowTemplate>
            
            <ExpandTemplate Context="row">
                <Table DataSource="row.Data.Operations" HidePagination Bordered Size="TableSize.Small" ScrollX="1200px">
                    <RowTemplate>
                        <Column @bind-Field="@context.OperationDate" 
                                Title="Operation Date" 
                                Filterable Sortable
                                Width="200px">
                            @context.OperationDate.ToString("d")
                        </Column>
                        <Column @bind-Field="@context.TransactionDate"
                                Title="Transaction Date" 
                                Filterable Sortable
                                Width="200px">
                            @context.TransactionDate.ToString("d")
                        </Column>
                        <Column @bind-Field="@context.TransactionType" 
                                Title="Transaction Type"
                                Filterable Sortable
                                Width="250px"
                        />
                        <Column @bind-Field="@context.Amount" 
                                Title="Amount" 
                                Filterable Sortable
                                Width="150px"
                        />
                        <Column @bind-Field="@context.Currency" 
                                Title="Currency" 
                                Filterable Sortable
                                Width="150px"
                        />
                        <Column @bind-Field="@context.AfterOperationBalance" 
                                Title="Balance After Operation"
                                Filterable Sortable
                        />
                    </RowTemplate>
                    <ExpandTemplate>
                        <pre class="m-0">@context.Data.Description.Trim()</pre>
                    </ExpandTemplate>
                </Table>
            </ExpandTemplate>
        </Table>
        
        <div>
            <h3>Summary</h3>
            
            <div class="d-flex">
                <table class="table table-bordered border-light fs-5">
                    <tbody>
                        <tr class="table-danger">
                            <th>Expenses</th>
                            <td class="text-end">@summary.Rows.Where(x => x.Sum < 0).Sum(x => x.Sum)</td>
                            <td class="w-100"></td>
                        </tr>
                        <tr class="table-success">
                            <th>Income</th>
                            <td class="text-end">@summary.Rows.Where(x => x.Sum > 0).Sum(x => x.Sum)</td>
                            <td class="w-100"></td>
                        </tr>
                        <tr class="table-primary">
                            <th>Balance</th>
                            <td class="text-end">@summary.Rows.Sum(x => x.Sum)</td>
                            <td class="w-100"></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    }
    else {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }

</div>


@code {

    [Parameter]
    public int IdPeriod { get; set; }

    private AccountingSummaryDto summary;
    private int tableIndex = 0;

    protected override async Task OnInitializedAsync() {
        summary = await httpClient.Client.GetFromJsonAsync<AccountingSummaryDto>(Paths.Api.AccountingPeriodSummary(IdPeriod));
    }

}
